<% @items.each do |item| %>
         <div class="container bg-primary">
            <div class="row">
              <div class="col-md-3">
                        <p>Item Pic Here</p>
                </div>
                 <div class="col-md-6">
                      <p><strong>Name: </strong> <%= item.name %> </p>
                        <p><strong>Description: </strong><br><%= item.description %> </p>
                </div>
                <div class="col-md-3">
                     <br>
                          <%=form_for item do |f|%>
                          <%= f.submit class:"btn btn-default btn-md form-control", value:"Request", style:"font-weight:bold"%>
                          <%end%>
                </div>
            </div>
         </div>
            <br>
<% end %>
